:root {
	--menu-width: 18vw;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

.vertical-nav {
	width: var(--menu-width);
}

.horizontal-nav {
	width: calc(100vw - var(--menu-width));
	background-color: white;
	border-bottom: 1px solid #aaa;
	position: absolute;
	left: var(--menu-width);
	padding: 5px;
}

.horizontal-nav p {
	color: black;
}

.horizontal-nav a {
	position: fixed;
	top: 0.8vw;
	right: 2vw;
	font-size: 2em;
	color: black;
}

#vertical-nav {
	height: 100%;
	position: absolute;
	background-color: #444;
}

.vertical-nav a, p {
	color: white;
	display: block;
	padding: 15px;
	margin: 0px;
	text-decoration: none;
	overflow-y: auto;
}

.vertical-nav p {
	border-bottom: 1px solid #aaa;
}

#title {
	text-align: center;
	font-size: 1.5em;
}

.subtitle {
	font-size: 0.75em;
	font-weight: bold;
	color: #ccc;
}

.vertical-nav a:hover {
	background-color: #aaa;
}

.vertical-nav a:active {
	background-color: #888;
	color: black;
}

#content {
	display: flex;
	flex-grow: 1;
	flex-flow: row wrap;
	position: relative;
	left: var(--menu-width);
	top: 5vw;
	padding-top: 15px;
	padding-left: 20px;
}

#dept_budget {
	display: block;
	background-color: white;
	width: 80%;
}

#dept_budget p {
	border: 1px solid #ccc;
	color: black;
	font-weight: bold;
	background-color: #eee;
}

#dept_budget td {
	background-color: #eee;
}

#dept_budget th, td {
	width: 20vw;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	text-indent: 20px;
}

#dept_budget table, th, td {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}

#graph_expenses {
	width: 35%;
	margin-top: 20px;
}

#graph_expenses p {
	border: 1px solid #ccc;
	color: black;
	font-weight: bold;
	background-color: #eee;
}

#ttitle {
	border: hidden!important;
	background-color: white!important;
	font-weight: initial!important;
}

#graph_expenses td {
	background-color: white;
	font-size: 0.5em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-collapse: collapse;
}

.left-col {
	border-top: hidden!important;
	border-bottom: hidden!important;
	border-right: 1px solid #ccc;
}

#blank-col {
	border: hidden!important;
}

#last_expenses {
	width: 43.5%;
	margin-top: 20px;
	margin-left: 20px;
}

#last_expenses p {
	border: 1px solid #ccc;
	color: black;
	font-weight: bold;
	background-color: #eee;
}

#last_expenses th {
	width: calc(43.5% / 5);
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	text-indent: 10px;
	background-color: white;
}

@media (max-width: 768px) {
	.horizontal-nav {
		padding: 0px;
	}

	.horizontal-nav a {
		top: 1.5vw;
		right: 5vw;
	}

	.vertical-nav a {
		font-size: 0.5em;
		margin-left: -10px;
	}

	#title {
		font-size: 1em;
	}

	.subtitle {
		font-size: 0.4em;
		margin-left: -10px;
	}

	#content {
		flex-flow: column wrap;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.horizontal-nav a {
		top: 1vw;
		right: 3vw;
	}

	.vertical-nav a {
		font-size: 0.75em;
		margin-left: -5px;
	}

	#title {
		font-size: 1.25em;
	}

	.subtitle {
		font-size: 0.6em;
		margin-left: -5px;
	}
}
