#login-form {
	display: block;
	left: auto;
	right: auto;
	background-color: white;
	max-width: 500px;
}

#register-form {
	display: block;
	left: auto;
	right: auto;
	background-color: white;
	max-width: 1000px;
}

.btn {
	height: 40px;
}

.btn-primary {
	margin-left: 10px;
}

a {
	margin-left: -10px;
}

.btn-success {
	width: 145px;
}